<div>
    <div class="row w-100">
        <div class="col-md-9">
            <div class="d-flex justify-content-between">
                <p class="fs-5 fw-bold">Public</p>
                <div class="d-flex"></div>
            </div>
            <table class="table bg-white">
                <tbody>
                    <tr>
                        <td>
                            <div class="text-white fw-bold rounded bg-danger text-center px-2 py-3 name-box">
                                PV
                            </div>
                        </td>
                        <td>
                            <p class="fw-bold fs-5">Polkadot into Vocahin</p>
                            <p class="d-flex"><span class="progress progress-bar progress-bar-animated w-25 me-1"></span><span>90%</span></p>
                        </td>
                        <td class="fw-bold">$11,500</td>
                        <td></td>
                        <td>
                            <div class="rounded p-1 d-flex main-home justify-content-center fw-bold">
                                <p class="pe-1">4 cakes left |</p>
                                <p class="ps-1">Join</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <!-- One carousel goes here -->
        </div>
    </div>
</div>