<nav class="navbar navbar-expand-lg navbar-light bg-header">
    <div class="container-fluid text-white">
      <a class="navbar-brand text-white" href="#">Casama</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white active fs-6" aria-current="page" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-6" href="#">Browse Pool</a>
          </li>              
        </ul>
        <div class="navbar-text d-flex">
            <span class="text-white">
              <i class="fa fa-bell fa-lg text-white px-2"></i>
            </span>
            <span class="dropdown px-3">                
                <a class="nav-link dropdown-toggle text-white fs-6" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../assets//user.jpg" width="20px" height="20px" class="rounded-circle me-1" />Timothy
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>                        
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Connect MetaMask</a></li>
                </ul>            
            </span>
        </div>
      </div>
    </div>
</nav>