<div>
    <app-nav></app-nav>
    <div class="main-home">
        <div class="content px-md-5 px-2">
            <div class="d-flex justify-content-between flex-wrap py-4">
                <div>
                    <p class="my-0 fs-4 fw-less-bold">Hello Timothy,</p>
                    <p class="my-0 fs-7 fw-less-bold">This is what we have for you today</p>
                </div>
                <button class="btn px-4 py-2 bg-pool fs-6 fw-less-bold">
                    Create Pool
                </button>
            </div>
            <div class="balance-and-pool row w-100">
                <div class="col-md-4">
                    <p class="fs-5 fw-less-bold">Balance</p>
                    <div class="bg-balances rounded p-3">
                        <div class="d-flex justify-content-between">
                            <p class="text-white fw-less-bold">Total Balance</p>
                            <div class="dropdown px-3">                
                                <a class="nav-link dropdown-toggle text-white fs-6" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Jan
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Jan</a></li>                                    
                                    <li><a class="dropdown-item" href="#">Feb</a></li>
                                    <li><a class="dropdown-item" href="#">Mar</a></li>
                                </ul>            
                            </div>
                        </div>
                        <p class="fs-4 fw-bold text-white py-3">
                            $12,223
                        </p>
                        <div class="legend text-white fs-7 fw-bold">
                            <p>$14,552 Total Income</p>
                            <p>$11,883 Earned</p>
                            <p>$2,668 Expenses</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <p class="fs-5 fw-less-bold">
                        My Pools
                    </p>
                    <div class="row w-100">
                        <div class="col-md-6 mb-4">
                            <div class="bg-white rounded p-3">
                                <div class="d-flex justify-content-between">
                                    <p class="fw-less-bold fs-6">ChainLink to Vechain</p>
                                    <div class="main-home rounded-pill fs-6 fw-bold py-0 px-2 pt-1">Crypto</div>
                                </div>
                                <div class="py-3">                                    
                                    <span class="fs-4 fw-bold">141 xrp </span> <span class="fs-7 fw-bold">/ $240 earned</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="bg-white rounded p-3">
                                <div class="d-flex justify-content-between">
                                    <p class="fw-less-bold fs-6">Send to USDC</p>
                                    <div class="main-home rounded-pill fs-6 fw-bold py-0 px-2 pt-1">Crypto</div>
                                </div>
                                <div class="py-3">                                    
                                    <span class="fs-4 fw-bold">231 USDC </span> <span class="fs-7 fw-bold">/ $240 earned</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="bg-white rounded p-3">
                                <div class="d-flex justify-content-between">
                                    <p class="fw-less-bold fs-6">Kusama to AAVE</p>
                                    <div class="main-home rounded-pill fs-6 fw-bold py-0 px-2 pt-1">Crypto</div>
                                </div>
                                <div class="py-3">                                    
                                    <span class="fs-4 fw-bold">141 xrp </span> <span class="fs-7 fw-bold">/ $240 earned</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="bg-white rounded p-3">
                                <div class="d-flex justify-content-between">
                                    <p class="fw-less-bold fs-6">BNB to Polygon Matic</p>
                                    <div class="main-home rounded-pill fs-6 fw-bold py-0 px-2 pt-1">NFT</div>
                                </div>
                                <div class="py-3">                                    
                                    <span class="fs-4 fw-bold">231 USDC </span> <span class="fs-7 fw-bold">/ $240 earned</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
