<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-header">
        <div class="container-fluid text-white">
          <a class="navbar-brand text-white" href="#">Casama</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white active fs-6" aria-current="page" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fs-6" href="#">Browse Pool</a>
              </li>              
            </ul>
            <div class="navbar-text d-flex">
                <span class="text-white">
                  <i class="fa fa-bell fa-lg text-white px-2"></i>
                </span>
                <span class="dropdown px-3">                
                    <a class="nav-link dropdown-toggle text-white fs-6" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../assets//user.jpg" width="20px" height="20px" class="rounded-circle me-1" />Timothy
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>                        
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Connect MetaMask</a></li>
                    </ul>            
                </span>
            </div>
          </div>
        </div>
    </nav>
    <div class="main-home">
        <div class="content px-md-5 px-2">
            <div class="d-flex justify-content-between flex-wrap py-4">
                <div>
                    <p class="my-0 fs-4 fw-less-bold">Hello Timothy,</p>
                    <p class="my-0 fs-7 fw-less-bold">This is what we have for you today</p>
                </div>
                <button class="btn px-4 py-2 bg-pool fs-6 fw-less-bold">
                    Create Pool
                </button>
            </div>
            <div class="balance-and-pool row w-100">
                <div class="col-md-4">
                    <p class="fs-5 fw-less-bold">Balance</p>
                    <div class="bg-balances rounded p-3">
                        <div class="d-flex justify-content-between">
                            <p class="text-white fw-less-bold">Total Balance</p>
                            <div class="dropdown px-3">                
                                <a class="nav-link dropdown-toggle text-white fs-6" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Jan
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Jan</a></li>                                    
                                    <li><a class="dropdown-item" href="#">Feb</a></li>
                                    <li><a class="dropdown-item" href="#">Mar</a></li>
                                </ul>            
                            </div>
                        </div>
                        <p class="fs-4 fw-bold text-white py-3">
                            $12, 223
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <p class="fs-5 fw-less-bold">
                        My Pools
                    </p>
                    <div class="row w-100">
                        <div class="col-md-6">
                            <div class="bg-white rounded p-3">
                                <div class="d-flex justify-content-between">
                                    <p class="fw-less-bold fs-6">ChainLink to Vechain</p>
                                    <div class="main-home rounded-pill fs-6 fw-bold py-0 px-2 pt-1">Crypto</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg-white rounded p-3">
                                <div class="d-flex justify-content-between">
                                    <p class="fw-less-bold fs-6">ChainLink to Vechain</p>
                                    <div class="main-home rounded-pill fs-6 fw-bold py-0 px-2 pt-1">Crypto</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
